.main {
    color: blueviolet;
    padding-left: 1rem;
}
p {
    padding-left: 1rem;
}

.body {
    background-color:chocolate;
    padding-left: 1rem;
    opacity: 3.5;
    
}
.text {
    margin-top: 105 !important;
    }
.col {
    margin-top: 35;
    text-align: center;
}

img {
    border-radius: rounded-3;
}

input[type=text] {
padding: 12px 20px;
margin: 8px 0;
}
